.material-tooltip {
    border-radius: 2px;
    background: rgba(37, 36, 36, 0.9);
    overflow: visible;

}

.material-tooltip .backdrop {
    /*display: none !important;*/
    background-color: purple!important;
}