:root {
	--sidebar-bg-color: linear-gradient(to right, #584475, #474871);
	--sidebar-bg-color-a-hover: linear-gradient(to right, #483465, #3f4067);
	
	--sidebar-bg-color-a: linear-gradient(to right, #584475, #474871);
	--sidebar-bg-a-active: linear-gradient(to right, #614a82, #565786);

	--nav-profile-details-header-bg: linear-gradient(to right, #584475, #3e60bf);

	--main-color:#584475;
	--main-color-hover:#4d3c67;
	--main-color-focus: rgba(88, 68, 117, 0.4);

	--warning-color:#ff9900;
	--warning-color-hover:#e08702;

	--default-color:#bbb;
	--default-color-hover:#b1b0b0;

	--danger-color:#ff4747;
	--danger-color-hover:#e64040;

	--info-color:#0089ff;
	--info-color-hover:#0480ea;

	--success-color:#34d465;
	--success-color-hover:#30ca5f;

	--dark-color:#656767;
	--dark-color-hover:#616363;

	--light-color:#fff;
	--light-color-hover:#ececec;



}

@font-face {
  	font-family: SquadaOne-Regular;
  	src: url(font/SquadaOne-Regular.ttf);
}

body {
	background-color: #ececec;
	padding: none;
}

html{
	/*for-mozilla*/
	scrollbar-color: #954cff transparent;
  	scrollbar-width: thin;
}

code{
	color: crimson;
    background-color: #f1f1f1;
    padding-left: 4px;
    padding-right: 4px;
    font-size: 80%;
    font-family: Consolas,"courier new";
}

