.material-tooltip {
    padding: 5px 20px 20px;
    border-radius: 10px;
    background: rgba(37, 36, 36, 0.9);
    overflow: visible;
}

.material-tooltip .backdrop {
    display: none !important;
}

.material-tooltip:after {
    position: absolute;
    content: " ";
    top: 100%;
    left: 50%;
    margin-left: -8px;
    width: 0;
    height: 0;
    border-style: solid;
    border-width: 15px 13px 0 13px;
    border-color: rgba(37, 36, 36, 0.9) transparent transparent transparent;
}