@import url("reswara-root.css");
@import url("reswara-preloader.css");
@import url("bootstrap-grid.css");

body{
	background-color: var(--main-color);

}

.container-login{
	background-color: var(--main-color-hover);
	display: flex;
	
}

.login-form{
	width: 400px;
	height: 100%;
	box-shadow: 1px 2px 15px rgba(0,0,0,1);
	background-image: var(--sidebar-bg-color-a);
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-top: 20px;
	display: inline-block;
	position: fixed;
	overflow-y: auto;
	z-index: 1;
}

.login-form > .header{
	width: 100%;
	padding: 20px;
	vertical-align: middle;
	font-size: 30px;
	font-family: SquadaOne-Regular;
	line-height: 0.8;
	text-align: center;
	color: #e645a2;
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
	padding-bottom: 50px;
}

.login-form > .content{

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	border-radius: 10px;
	/*border-left: 2px inset;*/
	border: 2px inset rgba(255, 255, 255, 0.1);
	background-image: var(--sidebar-bg-color-a-hover);
}

.content > .pre{
	/*font-family: SquadaOne-Regular;*/
	color: #fff;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 20px;
	text-align: center;
}

.remember{
	font-size: 11px;
	color: #9e9e9e;
	display: block;
}

.remember div{
	padding-top: 5px;
	padding-right: 10px;
}

.remember > label > span{
	font-size: 11px !important;

}
.remember > label > input{
	width: 5px!important;
	height: 5px!important;
	margin-right: 5px!important;
	top: 0px;
	font-size: 11px;

	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
}

.login-form > .content > .input-field{
	width: 100%;
	padding-right: 20px;
	margin-top: 0px;
	color: #9e9e9e;
}

.input-field > input{
	font-size: 13px!important;
	color: #9e9e9e;
	height: 20px!important;
}
.input-field > label{
	font-size: 13px!important;
	color: #9e9e9e;
	top: -10px;
}

.input-field > input, input::-webkit-input-placeholder{
	font-size: 13px!important;
	color: #9e9e9e;
	height: 20px!important;
}

.input-field > input:focus + label{
	font-size: 11px;
	color: #9e9e9e!important;
}

.input-field > input:focus{
	font-size: 13px;
	color: #fff!important;
	border-bottom: 1px solid #9e9e9e!important;
 	box-shadow: 0 1px 0 0 #9e9e9e!important;
}

.header img{
	width: 60px;
	position: relative;
}

.content-footer{
	width: 100%;
	display: block;
	position: relative;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.footer{
	padding: 10px 30px 30px 30px;
	color: var(--main-color);
}

.footer hr{
	position: relative;
	width: 20px;
	display: inline-flex;
	margin: 0px 5px 5px 5px;
	color: var(--main-color);
	border-color: var(--main-color);
	text-shadow: none;
	box-shadow: none;
	border-style: none;
}



.btn-login{
	display: block !important;
	width: 100%;
	background-color: none;
	background-image: var(--sidebar-bg-color-a);
}

.btn-google, .btn-google:hover, .btn-google:focus{
	display: block !important;
	width: 100%;
	background-color: #e83535;
	margin-bottom: 10px;
	border-radius: 5px;
}

.btn-facebook, .btn-facebook:hover, .btn-facebook:focus{
	display: block !important;
	width: 100%;
	/*background-color: none;*/
	/*background-image: var(--sidebar-bg-color-a);*/
	background-color: #3939c1;
	border-radius: 5px;
}

input[type="checkbox"]:checked+span:not(.lever):before {
	color: #9e9e9e;
}

.background-right{
	position: absolute;
	left: 400px;
	height: 700px;
	z-index: 0;
	padding: 0px;
	color: white;
}
.background-right img{
	opacity: 0.3;
	width: 1000px;
	height: 100%;
	left: 400px;
	margin-bottom: 0px;
	position: fixed;
}

.right-inner{
	position: fixed;
	height: 500px;
	width: 20%;
	top: 0%;
	left: 50%;
	right: 50%;
	
	animation: rightinner 5s linear infinite;
}
/*animasi*/

  .plane {
    width: 120px;
    height: 120px;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
  }
  .plane.main {
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    -webkit-transform: rotateX(60deg) rotateZ(-30deg);
            transform: rotateX(60deg) rotateZ(-30deg);
    -webkit-animation: rotate 20s infinite linear;
            animation: rotate 20s infinite linear;
  }
  .plane.main .circle {
    width: 120px;
    height: 120px;
    position: absolute;
    -webkit-transform-style: preserve-3d;
            transform-style: preserve-3d;
    border-radius: 100%;
    box-sizing: border-box;
    box-shadow: 0 0 60px white, inset 0 0 60px white;
  }
  .plane.main .circle::before, .plane.main .circle::after {
    content: "";
    display: block;
    position: absolute;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    margin: auto;
    width: 10%;
    height: 10%;
    border-radius: 100%;
    background: white;
    box-sizing: border-box;
    box-shadow: 0 0 60px 2px white;
  }
  .plane.main .circle::before {
    -webkit-transform: translateZ(-90px);
            transform: translateZ(-90px);
  }
  .plane.main .circle::after {
    -webkit-transform: translateZ(90px);
            transform: translateZ(90px);
  }
  .plane.main .circle:nth-child(1) {
    -webkit-transform: rotateZ(72deg) rotateX(63.435deg);
            transform: rotateZ(72deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(2) {
    -webkit-transform: rotateZ(144deg) rotateX(63.435deg);
            transform: rotateZ(144deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(3) {
    -webkit-transform: rotateZ(216deg) rotateX(63.435deg);
            transform: rotateZ(216deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(4) {
    -webkit-transform: rotateZ(288deg) rotateX(63.435deg);
            transform: rotateZ(288deg) rotateX(63.435deg);
  }
  .plane.main .circle:nth-child(5) {
    -webkit-transform: rotateZ(360deg) rotateX(63.435deg);
            transform: rotateZ(360deg) rotateX(63.435deg);
  }

  @-webkit-keyframes rotate {
    0% {
      -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
              transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
              transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }

  @keyframes rotate {
    0% {
      -webkit-transform: rotateX(0) rotateY(0) rotateZ(0);
              transform: rotateX(0) rotateY(0) rotateZ(0);
    }
    100% {
      -webkit-transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
              transform: rotateX(360deg) rotateY(360deg) rotateZ(360deg);
    }
  }
/*animasi*/

@keyframes rightinner {
	0%{
		width: 25%;
	}
	50%{
		width: 30%;
	}
	100%{
		width: 25%;
	}
}

::-webkit-scrollbar {
  	width: 5px;
}
::-webkit-scrollbar-track {
  	background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #954cff;
  	border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #954cff;
  	border-radius: 2.5px;
}