@font-face {
  font-family: SquadaOne-Regular;
  src: url(font/SquadaOne-Regular.ttf);
}

:root {
	--sidebar-bg-color: linear-gradient(to right, #584475, #474871);
	--sidebar-bg-color-a: linear-gradient(to right, #584475, #474871);
	--sidebar-bg-a-active: linear-gradient(to right, #614a82, #565786);

}

body {
	background-color: #565786;
	/*background-image: linear-gradient(to right, #faf8fb , #faf8fb);*/
	
}
/*SIDE BAR*/
	.sidebar {
		/*font-family: SquadaOne-Regular;*/

		height: 100%;
		width: 250px;
		position: fixed;
		z-index: 1;
		top: 0;
		left: 0;
		
		background-image: var(--sidebar-bg-color);
		overflow-x: hidden;
		transition: 0.2s;
		
	}


	@media only screen and (max-width: 700px) {
		.sidebar{
			width: 0px;
		}
	}

	.sidebar a.active{
		/*background-color: #6c5292!important;*/
		color: #ffffff;
		border-radius: 10px 40px 40px 10px;
		background-image: var(--sidebar-bg-a-active);
		border-left: 4px solid #03a9f4;
		padding-left: 16px;

	}

	.sidebar a {
		padding: 8px 8px 8px 20px;
		text-decoration: none;
		font-size: 14px;
		color: #af9fc7;
		display: block;
		transition: 0.3s;
		background-image: var(--sidebar-bg-color-a);
		
	}

	.sidebar a:hover {
		/*background-color: black !important;*/
		color: #ffffff;
		border-radius: 10px 40px 40px 10px;
		background-image: linear-gradient(to right, #483465, #3f4067);
	}

	.sidebar span {
		margin-left: 15px;
	}

	.sidebar ul {
		list-style-type: none;
		padding: 0;
	}

	.sidebar img{
		cursor: pointer;
	}
	.sidebar i{
		width: 20px;
	}

	.sidebar p {
		margin-left: 0px;
		padding-left: 20px;
		color: #af9fc7;
		font-size: 12px;
		background-color: #584475;
		line-height: 10px;
		width: auto;
		margin-bottom: 0px;
		padding-bottom: 15px;
	}

	.sidebar .sidebar-img-1 {
		margin-left: 20px;
		margin-right: 20px;
		width: 210px;
		margin-bottom: 10px;
		height: auto;
	}

	.sidebar-logo{
		height: 60px;
		background-image: linear-gradient(to right, #483465, #3f4067);
		padding-left: 20px;
		padding-top: 15px;
		box-shadow: 0px 0.5px 5px #2f282f;
	}
	.sidebar-logo span{
		font-family: SquadaOne-Regular;
		font-size: 20px;
		color: white;
		transition: 1s;
	}

	.sidebar .sidebar-img-2 {
		width: 40px;
		height: auto;
	}

	.sidebar .closebtn {
		position: absolute;
		top: 0;
		right: 25px;
		font-size: 36px;
		margin-left: 50px;
	}

	.sidebar-dropdown:hover{
		color: #ffffff;
		border-radius: 10px 40px 40px 10px;
		background-image: linear-gradient(to right, #483465, #3f4067);
		cursor: pointer;
	}

	.sidebar-dropdown::after{
		content: "";
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	    position: absolute;
	    margin-top: 12px;
	    right: 20px;
	    -webkit-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    font-size: 12px;
	    transition: 0.5s;
	}


	.sidebar-dropdown.hidden::after{
	    display: none;
	}

	.sidebar-dropdown.active::after{
		content: "";
		font-family: 'Font Awesome 5 Free';
		font-weight: 900;
	    position: absolute;
	    margin-top: 12px;
	    right: 20px;
	    font-size: 12px;
	    transition: 0.5s;
	    -webkit-transform: translate(0, -50%);
	    transform: translate(0, -50%);
	    transform: rotate(40deg);
	}

	.mini-side-bar a{
		padding: 8px 5px 8px 0px!important;
	}

	.mini-side-bar i{
		width: 20px;
	}

	.sidebar-dropdown-item{
		display: none;
	}

	.sidebar-dropdown-item.active{
		display: block;
	}

	.sidebar-dropdown-item a{
		padding-left: 60px;
	}

	.sidebar-dropdown-group{
		background-color: #584475;
	}
	.imgbg{
		background-color: #584475;
		height: 20px;
		margin-top: -20px;
		z-index: -1;
	}

	.imground50{
		border:5px solid;
		border-radius: 50%;
		border-color: #584475;
	}

	.sidebar-avatar {
		padding-top: 10px;
		text-align: center;
		position: relative;
	}
	.sidebar-avatar img{
		max-width: 60px;
	}

	.bio-sidebar{
		color: #af9fc7;
		padding-top: 20px;
		font-size: 12px;
	}
	.bio-sidebar.hidden{
		visibility: hidden;
		display: none;
	}
/*END OF SIDE BAR*/


/*TOP NAVIGATION*/
	.topnav-right {
	  	float: right;
	  	color: #af9fc7;
	}

	.openbtn {
		margin-left: 0px;
		font-size: 20px;
		cursor: pointer;
		color: white;
		padding: 10px 15px;
		background-color: #fff;
		color: #af9fc7;
		border-radius: 2px;
		border:1px groove black;
		border: none;
		height: 60px;
		display: inline-block;

	} @media only screen and (max-width: 700px) {
		.openbtn{
			margin-left: 0px;
		}
	}

	.openbtn:hover {
		background-color: #1b1b1b;
		color: #a840ad;
		border: none;
	}

	.main-top {
		transition: margin-left .2s;
		background-color: #fff;
		/*z-index: 1;*/

		
		/*margin-left: 60px;*/
		height: 60px;
		box-shadow: 0px 0.5px 5px #2f282f;
	}

	@media screen and (max-height: 700px) {
		.main-top {
			transition: margin-left .2s;
			margin-left: 0px;
		}
	}

	.nav-content{
		height: 60px;
		color: #af9fc7;
		background-color: #fff!important;
		padding: 15px;
		position: relative;
		display: inline-block;
		font-size: 13px;
		cursor: pointer;
	}

	.nav-content:hover{
		color: #af9fc7;
		background-color: #1b1b1b;
		text-decoration: none;
		color: #af9fc7;
		
		transition: 0.3s;
	}
	.nav-profile{
		max-width: 160px;
	}
	.nav-notif{
		max-width: 160px;
	}

	.nav-details{
		margin-right: 0px;
		padding-left: 0px;
		text-align: left;
		
		position: relative;
		color: #ffffff;
		background-color: #1b1b1b;
		z-index: 1;
		
		overflow: auto;
		box-shadow: 0px 8px 16px 0px rgba(0,0,0,0.2);
		list-style-type: none;
		transition: 0.1s;
		border-radius: 10px 10px 10px 10px;
	}

	.nav-details a:hover{
		background-color: #fff;
		color: white;
	}

	.nav-profile-details{
		display: none;
	}

	.nav-profile-details.show{
		display: list-item;
	}

	.nav-details a{
		color: #ffffff;
		padding: 15px;
		text-decoration: none;
		display: inline-block;
		font-size: 11px;
	}

	.nav-notif-details{
		display: none;
	}

	.nav-notif-details.show{
		display: block;
	}


	.nav-profile-img{
		max-height: 30px;
		border-radius: 50%;
	}

	.nav-notif{
		height: 60px;
		color: #ffffff;
		padding: 15px;
		max-width: 160px;
		position: relative;
		display: inline-block;
		font-size: 13px;
		cursor: pointer;
	}
/*end top navigation*/

/*main-content*/
	.main-content{
		transition: 0.2s;
		margin: 0px;
		background-color: #ececec;
		z-index: 100;
	}
/*main-content*/

/*accent*/
	.accent{
		/*box-shadow: 2px 1px 10px #2f282f;*/
		height: auto;
		font-size: 30px;
		color: #774c84;
		padding-top: 40px;
		padding-bottom: 0px;
		padding-left: 20px;
		margin-left: 0px;
		/*border-radius: 10px 10px 0px 0px;*/
	}

	.accent-inner{
		font-size: 14px;
		background-color: #009ae0;
		color: #f0e3f3 !important;
		
		margin-left: 0px;
		padding-left: 15px;
		padding-top: 10px;
		padding-left: 15px;
		border-radius: 5px 5px 0px 0px;

		display: inline-block;
		max-width: 230px;

		border: none !important;
	    outline:none !important;
	}

	.accent-2{
		border:1px solid #cccccc;
		height: auto;
		
		color: #774c84;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	@media screen and (max-width: 760px) {
		.accent-2{
			margin-top: 20px;
		}
	}

	.accent-2-header{
		padding: 15px 0px 2px 0px;
		border-bottom: 1px groove;
	}

	.accent-2-content .month{
		font-size: 25px;
	}

	.accent-2-content .date{
		font-size: 90px;
		line-height: 90px;
	}

	.accent-2-content .year{
		font-size: 25px;
	}



	.accent-3{
		
		margin-top: 20px;
		
		box-shadow: 2px 1px 10px #2f282f;
		height: auto;
		
		color: #774c84;
		padding-left: 20px;
		padding-right: 20px;
		border-radius: 10px;
	}

	@media screen and (max-width: 760px) {
		.accent-3{
			margin-top: 20px;
		}
	}

	.accent-3-header{
		padding: 15px 0px 2px 0px;
		border-bottom: 1px groove;
	}

	.accent-3-content p{
		font-size: 50px;
		margin-top: 20px;
	}

	.accent-3-footer{
		padding: 0px 0px 2px 0px;
		border-top: 1px groove;
		font-size: 20px;
		font-family: SquadaOne-Regular;
	}
/*-accent*/


/*bg style*/
	.bg-lightblue{
		background-color: #00e3f5!important;
		color: #774c84!important;
	}

	.bg-lightgreen{
		background-color: #00ff55;
		color: #774c84!important;
	}

	.bg-accent{
		background-color: #03a9f4;
		color: white!important;
	}

	.bg-accent-2{
		background-color: #faf8fb;
		/*color: white!important;*/
	}

	.bg-accent-2 a:hover{
		background-color: #373246;
		color: white!important;
	}

	.bg-accent-3{
		background-color: #324636;
		color: white!important;
	}

	.bg-graylight{
		background-color: #dedede;
		color: 505050;
	}
/*bg styling*/

/*color-styling*/
	.c-info{
		color: #03a9f4 !important;
	}

	.c-danger{
		color: #f44336 !important;
	}

	.c-warning{
		color: #ff9800 !important;
	}

	.c-default{
		color: #6f8679 !important;
	}
	.glowing{
		box-shadow: 2px 1px 20px #b190bb;
	}
/*color-styling end*/

/*task-style*/
	.task{
		margin-top: 20px;
	}

	.task .front{
		background-color: #faf8fb;
		color: #505050;
	}
	.task .back{
		background-color: #faf8fb;
		color: #505050;
	}

	.task-header{
		padding: 10px 10px 10px 10px;
		border-bottom: 1px solid #dedede;
		display: block;
	}

	.task-content{
		font-family: SquadaOne-Regular;
		background-color: #faf8fb;
		padding: 2px 10px 20px 10px;
		display: block;
	}

	.task-content span{
		font-size: 80px;
		display: block;
		margin-bottom: 0px;
	}

	@media screen and (max-width: 768px) {
	  	.task-content span{
			font-size: 40px;
		}
		.task-footer{
			font-size: 10px;
		}
		.task-header{
			font-size: 12px;
		}
	}

	.task-footer{
		background-color: #faf8fb;
		padding: 2px 10px 10px 10px;
		border-top: 1px solid #dedede ;
		display: block;
	}
/**/


/*animate*/

	@media (min-width: 992px) {
	  .animate {
	    animation-duration: 0.3s;
	    -webkit-animation-duration: 0.3s;
	    animation-fill-mode: both;
	    -webkit-animation-fill-mode: both;
	  }
	}

	@keyframes slideIn {
	  0% {
	    transform: translateY(1rem);
	    opacity: 0;
	  }
	  100% {
	    transform:translateY(0rem);
	    opacity: 1;
	  }
	  0% {
	    transform: translateY(1rem);
	    opacity: 0;
	  }
	}

	@-webkit-keyframes slideIn {
	  0% {
	    -webkit-transform: transform;
	    -webkit-opacity: 0;
	  }
	  100% {
	    -webkit-transform: translateY(0);
	    -webkit-opacity: 1;
	  }
	  0% {
	    -webkit-transform: translateY(1rem);
	    -webkit-opacity: 0;
	  }
	}

	.slideIn {
	  -webkit-animation-name: slideIn;
	  animation-name: slideIn;
	}
/*animate end*/


/*tab list*/
	.tab-list{
		padding-top: 0px;
		border-bottom: 1px solid #03a9f4;
		padding-bottom: 0px;
		overflow-x: auto;
		overflow-y: hidden;
		
	}

	.tab-list-header{
		display: flex;
		background-color: #dedede;
	}

	.tab-list-header a{
		list-style-type: none;

		padding-left: 20px;
		padding-right: 20px;
		color: #505050 !important;
		text-decoration: none;
		padding-bottom: 10px;
		white-space: nowrap;
	}

	.tab-list-header a:active{
		border-radius: 10px 10px 0px 0px;
		border-bottom: 4px solid #03a9f4;

	}

	.tab-list-header .active{
		color: #000!important;
		
		border-radius: 10px 10px 0px 0px;
		transition: 0.5s;
		border-bottom: 4px solid #03a9f4;
	}

	.tab-list-item{
		padding-top: 15px;
		cursor: pointer;
		margin-bottom: -2px;
		flex: 0 0 25%; /* doesn't grow nor shrink, initial width set to 25% of the parent's */
	}

	.tab-list-item:hover{
		/*color: white!important;*/
		border-bottom: 4px solid #03a9f4;
	}

/*tab list end*/

.btn-right {
  	float: right;
  	cursor: pointer;
}

.btn-right:active {
  	border: none;
  	opacity: 0.1;
}

/*floating*/
	.float-right{

	}
/*floating end*/
/*padding margin*/
	.no-padding{
		padding: 0px;
	}

	.marginleftmin15{
		margin-left: -15px;
	}

	.marginrightmin15{
		margin-right: -15px;
	}

	.margintopplus15{
		margin-top: 15px;
	}
/*padding end*/


/*ripple*/
	.ripple {
		position: relative;
		cursor: pointer;
		/*background: palevioletred;*/
		overflow: hidden;
		-webkit-transition: all 0.2s ease-in;
		transition: all 0.2s ease-in;
	}
	.ripple .circle {
		z-index: 3;
		position: absolute;
		border-radius: 50%;
		pointer-events: none;
		background-image: radial-gradient(circle closest-side, rgba(204,204,204,0.2), #cccccc);
		width: 1px;
		height: 1px;
		/*z-index: 3;*/
		-webkit-animation-name: ripple;
		    animation-name: ripple;
		-webkit-animation-duration: 0.5s;
		    animation-duration: 0.5s;
		-webkit-animation-timing-function: ease-in;
		    animation-timing-function: ease-in;
	}

	@-webkit-keyframes ripple {
		0% {
		    -webkit-transform: scale(0, 0);
		            transform: scale(0, 0);
		    /*opacity: 1;*/
		}
		75% {
		    -webkit-transform: scale(450, 450);
	            transform: scale(450, 450);
		    /*opacity: 0.75;*/
		}
		100% {
		    -webkit-transform: scale(700, 700);
		            transform: scale(700, 700);
		    opacity: 0;
			}
	}

	@keyframes ripple {
		0% {
		-webkit-transform: scale(0, 0);
			transform: scale(0, 0);
			/*opacity: 0;*/
		}
		75% {
			-webkit-transform: scale(450, 450);
			transform: scale(450, 450);
			/*opacity: 0.75;*/
		}
		100% {
			-webkit-transform: scale(700, 700);
			transform: scale(700, 700);
			/*opacity: 1;*/
		}
	}
/*ripple end*/