.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 2;
	top: 0;
	left: 0;
	
	background-image: var(--sidebar-bg-color);
	overflow-x: hidden;
	transition: 0.2s;
}


@media only screen and (max-width: 700px) {
	.sidebar{
		width: 0px;
	}
}

.sidebar a.active{
	color: #ffffff;
	border-radius: 10px 40px 40px 10px;
	background-image: var(--sidebar-bg-a-active);
	border-left: 4px solid #954cff;
	padding-left: 16px;

}

.sidebar a {
	padding: 8px 8px 8px 20px;
	text-decoration: none;
	font-size: 14px;
	color: #af9fc7;
	display: block;
	transition: 0.3s;
	background-image: var(--sidebar-bg-color-a);
}

.sidebar a:hover {
	color: #ffffff;
	border-radius: 10px 40px 40px 10px;
	background-image: var(--sidebar-bg-color-a-hover);
}

.sidebar span {
	margin-left: 15px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar img{
	cursor: pointer;
}
.sidebar i{
	width: 20px;
}

.sidebar p {
	margin-left: 0px;
	padding-left: 20px;
	color: #af9fc7;
	font-size: 12px;
	background-color: #584475;
	line-height: 10px;
	width: auto;
	margin-bottom: 0px;
	padding-bottom: 15px;
}

.sidebar .sidebar-img-1 {
	margin-left: 20px;
	margin-right: 20px;
	width: 210px;
	margin-bottom: 10px;
	height: auto;
}

.sidebar-logo{
	height: 60px;
	background-image: linear-gradient(to right, #483465, #3f4067);
	padding-left: 20px;
	padding-top: 15px;
	box-shadow: 0px 0.5px 5px #2f282f;
}
.sidebar-logo span{
	font-family: SquadaOne-Regular;
	font-size: 20px;
	color: white;
	transition: 1s;
}

.sidebar .sidebar-img-2 {
	width: 40px;
	height: auto;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidebar-dropdown:hover{
	color: #ffffff;
	border-radius: 10px 40px 40px 10px;
	background-image: linear-gradient(to right, #483465, #3f4067);
	cursor: pointer;
}

.sidebar-dropdown::after{
	/*content: "";*/
	/*font-family: 'Font Awesome 5 Free';*/
	content: "\e649";
	font-family: 'themify';
	font-weight: 900;
    position: absolute;
    margin-top: 12px;
    right: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 12px;
    transition: 0.5s;
}


.sidebar-dropdown.hidden::after{
    display: none;
}

.sidebar-dropdown.active::after{
	/*content: "";*/
	content: "\e649";
	/*font-family: 'Font Awesome 5 Free';*/
	font-family: 'themify';
	font-weight: 900;
    position: absolute;
    margin-top: 4px;
    right: 20px;
    font-size: 12px;
    transition: 0.5s;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transform: rotate(90deg);
}

.mini-side-bar a{
	padding: 8px 5px 8px 0px!important;
}

.mini-side-bar i{
	width: 20px;
}

.sidebar-dropdown-item{
	display: none;
}

.sidebar-dropdown-item .active{
	display: block;
}

.sidebar-dropdown-item > a.active{
	color: #ffffff;
	padding-left: 60px;
	border-left: none;
	background-image: var(--sidebar-bg-color)!important;
}

.sidebar-dropdown-item a{
	padding-left: 60px;
}

.sidebar-dropdown-group{
	background-color: #584475;
}
.imgbg{
	background-color: #584475;
	height: 20px;
	margin-top: -20px;
	z-index: -1;
}

.imground50{
	border:5px solid;
	border-radius: 50%;
	border-color: #584475;
}

.sidebar-avatar {
	padding-top: 10px;
	text-align: center;
	position: relative;
}
.sidebar-avatar img{
	max-width: 60px;
}

.bio-sidebar{
	color: #af9fc7;
	padding-top: 20px;
	font-size: 12px;
}
.bio-sidebar.hidden{
	visibility: hidden;
	display: none;
}