.btn{
	text-transform: none;
	padding: .25rem 1.1rem;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: 5px;
    height: auto;
}
button:disabled{
	pointer-events: all!important;
  	cursor: not-allowed!important;
}


.btn:focus{
	box-shadow: 0px 0px 1px 3px rgba(222, 76, 255, 0.3) inset!important;
}

.btn.btn-xs{
	padding: 1px .844rem;
    font-size: .7rem;
    line-height: 1.5;
    border-radius: .25rem;
}

.btn.btn-sm{
	text-transform: none;
	padding: .25rem 1rem;
    font-size: .9rem;
    line-height: 1.4;
    border-radius: 5px;
    height: auto;
}

.btn.btn-md{
	text-transform: none;
	padding: .25rem 1.1rem;
    font-size: 1rem;
    line-height: 1.6;
    border-radius: 5px;
    height: auto;
}

.btn.btn-lg{
	text-transform: none;
	padding: .25rem 1.25rem;
    font-size: 1.25rem;
    line-height: 1.5;
    border-radius: 5px;
    height: auto;
}

.btn.btn-xlg{
	text-transform: none;
	padding: .1rem 1.5rem;
    font-size: 1.5rem;
    line-height: 2.25;
    border-radius: 5px;
    height: auto;
}

.btn.btn-rounded{
	text-transform: none;
	border-radius: 20px;
}

.btn-primary{
	background-color: var(--main-color);
}

.btn-primary:hover{
	background-color: var(--main-color-hover);
}
.btn-primary:focus{
	background-color: var(--main-color-hover);
}
.btn.btn-primary:disabled{
	background-color: var(--main-color)!important;
	color: #e2dddd!important;
}

.btn-warning{
	background-color: var(--warning-color);
}
.btn-warning:hover{
	background-color: var(--warning-color-hover);
}
.btn-warning:focus{
	background-color: var(--warning-color-hover);
}

.btn.btn-warning:disabled{
	background-color: var(--warning-color)!important;
	color: #e2dddd!important;
}

.btn-default{
	background-color: var(--default-color);
}
.btn-default:hover{
	background-color: var(--default-color-hover);
}
.btn-default:focus{
	background-color: var(--default-color-hover);
}
.btn.btn-default:disabled{
	background-color: var(--default-color)!important;
	color: #e2dddd!important;
}

.btn-danger{
	background-color: var(--danger-color);
}
.btn-danger:hover{
	background-color: var(--danger-color-hover);
}
.btn-danger:focus{
	background-color: var(--danger-color-hover);
}
.btn.btn-danger:disabled{
	background-color: var(--danger-color)!important;
	color: #e2dddd!important;
}


.btn-info{
	background-color: var(--info-color);
}
.btn-info:hover{
	background-color: var(--info-color-hover);
}
.btn-info:focus{
	background-color: var(--info-color-hover);
}
.btn.btn-info:disabled{
	background-color: var(--info-color-hover)!important;
	color: #e2dddd!important;
}


.btn-success{
	background-color: var(--success-color);
}
.btn-success:hover{
	background-color: var(--success-color-hover);
}
.btn-success:focus{
	background-color: var(--success-color-hover);
}
.btn.btn-success:disabled{
	background-color: var(--success-color)!important;
	color: #e2dddd!important;
}

.btn-dark{
	background-color: var(--dark-color);
}
.btn-dark:hover{
	background-color: var(--dark-color-hover);
}
.btn-dark:focus{
	background-color: var(--dark-color-hover);
}
.btn.btn-dark:disabled{
	background-color: var(--dark-color-hover)!important;
	color: #e2dddd!important;
}

.btn-light{
	background-color: var(--light-color);
	color: #3a3a3a;
	border-color: #3a3a3a;
}
.btn-light:hover{
	background-color: var(--light-color-hover);
}
.btn-light:focus{
	background-color: var(--light-color-hover);
}
.btn.btn-light:disabled{
	background-color: var(--light-color-hover)!important;
	color: #9a9a9a!important;
}

.btn-primary-gr{
	background-image: linear-gradient(to bottom right, #584475, rgba(255, 0, 247, 0.5));
	background-color: #584475;
}

.btn-info-gr{
	background-image: linear-gradient(to bottom right, #0089ff, rgba(255, 0, 247, 0.5));
	background-color: #00d0ff;
}

.btn-success-gr{
	background-image: linear-gradient(to bottom right, #34d465, rgba(255, 0, 247, 0.5));
	background-color: #56ff00;
}

.btn-dark-gr{
	background-image: linear-gradient(to bottom right, #656767, rgba(255, 0, 247, 0.5));
	background-color: #656767;
}

.btn-default-gr{
	background-image: linear-gradient(to bottom right, #afafaf, rgba(255, 0, 247, 0.5));
	background-color: #afafaf;
}

.btn-light-gr{
	background-image: linear-gradient(to bottom right, #ffffff, rgba(255, 0, 247, 0.2));
	background-color: #ffffff;
	color: #3a3a3a;
}

.btn-warning-gr{
	background-image: linear-gradient(to bottom right, #ff9900, rgba(255, 0, 247, 0.5));
	background-color: #afafaf;
}

.btn-danger-gr{
	background-image: linear-gradient(to bottom right, #ff4747, rgba(255, 0, 247, 0.5));
	background-color: #afafaf;
}