.sidebar {
	height: 100%;
	width: 250px;
	position: fixed;
	z-index: 8;
	top: 0;
	left: 0;
	overflow-y: auto;
	
	background-image: var(--sidebar-bg-color);
	scrollbar-width: thin;
	transition: 0.2s;
	margin-bottom: 0;
}


@media only screen and (max-width: 700px) {
	.sidebar{
		width: 0px;
	}
}

.sidebar a.active{
	color: #ffffff;
	border-radius: 10px 40px 40px 10px;
	background-image: var(--sidebar-bg-a-active);
	border-left: 4px solid #954cff;
	padding-left: 16px;
}

.sidebar a {
	padding: 8px 8px 8px 20px;
	text-decoration: none;
	font-size: 14px;
	color: #af9fc7;
	display: block;
	transition: 0.2s;
	background-image: var(--sidebar-bg-color-a);
}

.sidebar a:hover {
	color: #ffffff;
	border-radius: 10px 40px 40px 10px;
	background-image: var(--sidebar-bg-color-a-hover);
}

li.mini:hover > .sidebar-dropdown-group{
	display: block!important;
	min-width: 200px;
	position: absolute;
	margin-top: -37px;
	left:70px;
    vertical-align: middle;
}

li.mini:hover > a{
	border-radius: 0px 0px 0px;
	background-image: var(--sidebar-bg-color-a-hover);
}

li.mini:hover .sidebar-dropdown-group::before{
	content: " ";
	display: block;
	min-width: 10px;
	height: 37px;
	
	margin-left: -10px;
    width: 10px!important;

	position: absolute;
	margin-top: 0px;
	margin-bottom: 0px;
	background-image: linear-gradient(to right, #3f4067, #3f4067);
	overflow: hidden;
}
li.mini > .sidebar-dropdown-group>li>a{
	border-radius: 0px 0px 0px 0px;
	background-image: linear-gradient(to right, #3f4067, #474871)!important;
}

li.mini > a.active{
	color: #ffffff;
	border-radius: 0px 0px 0px 0px;
	border-left: none;
	background-image: var(--sidebar-bg-color-a-hover);
	padding-left: 16px;
}


.sidebar span {
	margin-left: 15px;
}

.sidebar ul {
	list-style-type: none;
	padding: 0;
}

.sidebar img{
	cursor: pointer;
}
.sidebar i{
	width: 20px;
}

.sidebar p {
	margin-left: 0px;
	margin-top: 0px;
	padding-top: 0px!important;
	padding-left: 20px;
	color: #af9fc7;
	font-size: 12px;
	/*background-color: #584475;*/
	background-image: var(--sidebar-bg-color-a);
	width: auto;
	margin-bottom: 0px;
	padding-bottom: 15px;
	padding-top: 15px;
	font-weight: 600;
}

.sidebar .sidebar-img-1 {
	margin-left: 20px;
	margin-right: 20px;
	width: 210px;
	margin-bottom: 10px;
	height: auto;
}

.sidebar-logo{
	position: relative;
	height: 60px;
	background-image: linear-gradient(to right, #483465, #3f4067);
	padding-left: 20px;
	padding-top: 15px;
	box-shadow: 0px 0.5px 5px #2f282f;
}
.sidebar-logo span{
	font-family: SquadaOne-Regular;
	font-size: 21px;
	color: white;
	transition: 1s;
	line-height: 1;
	vertical-align: super;
}

.sidebar .sidebar-img-2 {
	width: 40px;
	height: auto;
}

.sidebar .closebtn {
	position: absolute;
	top: 0;
	right: 25px;
	font-size: 36px;
	margin-left: 50px;
}

.sidebar-dropdown:hover{
	color: #ffffff;
	border-radius: 10px 40px 40px 10px;
	background-image: linear-gradient(to right, #483465, #3f4067);
	cursor: pointer;
}

/*tanda*/



.sidebar-dropdown::after{
	/*content: "";*/
	/*font-family: 'Font Awesome 5 Free';*/
	content: "\e649";
	font-family: 'themify';
	font-weight: 900;
    position: absolute;
    margin-top: 12px;
    right: 20px;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    font-size: 12px;
    transition: 0.2s;
}


.sidebar-dropdown.hidden::after{
    display: none;
}

.sidebar-dropdown.active::after{
	/*content: "";*/
	content: "\e649";
	/*font-family: 'Font Awesome 5 Free';*/
	font-family: 'themify';
	font-weight: 900;
    position: absolute;
    margin-top: 4px;
    right: 20px;
    font-size: 12px;
    transition: 0.2s;
    -webkit-transform: translate(0, -50%);
    transform: translate(0, -50%);
    transform: rotate(90deg);
}

.mini-side-bar{
	position: absolute;
	overflow-y: unset;
}

.mini-side-bar a{
	padding: 8px 5px 8px 0px!important;
}

.mini-side-bar i{
	width: 20px;
}


.sidebar-dropdown-item > a.active{
	color: #ffffff;
	padding-left: 60px;
	border-left: none;
	background-image: var(--sidebar-bg-color)!important;
}

.sidebar-dropdown-item a{
	padding-left: 60px;
}

.sidebar-dropdown-group{
	background-color: #584475;
	display: none;
}

.sidebar-dropdown-group.active{
	display: block;
}


.imground50{
	border:5px solid;
	border-radius: 50%;
	border-color: #3f4067;
}

.sidebar-avatar {
	padding-top: 10px;
	text-align: center;
	position: relative;
}
.sidebar-avatar img{
	max-width: 60px;
}

.bio-sidebar{
	color: #af9fc7;
	padding-top: 20px;
	font-size: 12px;
}
.bio-sidebar.hidden{
	visibility: hidden;
	display: none;
}

.sidebar-search{	
    left: 0;
    right: 0;

	margin-top: -8px;
    margin-left: auto;
    margin-right: auto;
    background: rgba(0,0,0,.4);
    
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    font-size: 17px;
    height: 21px;
    width: 31px;
    color: #fff!important;
    line-height: 20px;
    text-align: center;
    -webkit-transition: all .2s cubic-bezier(.34,1.25,.6,1);
    transition: all .2s cubic-bezier(.34,1.25,.6,1);
    -webkit-box-shadow: 0 0 2px rgba(136,106,181,.3);
    box-shadow: 0 0 2px rgba(136,106,181,.3);
    opacity: 1;
    padding: 0px!important;
    cursor: pointer!important;
    display: all;
}

.sidebar-search:hover{
    background: var(--main-color);
    
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0 0 20px 20px!important;
    text-decoration: none;
    font-size: 17px;
    height: 21px;
    width: 31px;
    color: #fff!important;
    line-height: 20px;
    text-align: center;
    -webkit-transition: all .2s cubic-bezier(.34,1.25,.6,1);
    transition: all .2s cubic-bezier(.34,1.25,.6,1);
    -webkit-box-shadow: 0 0 2px rgba(136,106,181,.3);
    box-shadow: 0 0 2px rgba(136,106,181,.3);
    opacity: 1;
    padding: 0px!important;
    cursor: pointer!important;
}

.sidebar-search>i{
    cursor: pointer;
}

.sidebar-search-group{
	padding: 0px 20px;
	align-self: center;
	text-align: center;
	display: none;
}
.sidebar-search-group.hidden::after{
	display: none;
}
.sidebar-search-group.active::after{
	display: block;
}

.sidebar-search-group > .sidebar-search-input{
	margin:0px!important;
	width: 80%!important;
	position: relative;
	display: inline-flex;
	border-bottom: none!important;
	font-size: 12px!important;
	height: auto!important;
	line-height: 0.2;
	padding: 8px 10px!important;
	background-image: var(--sidebar-bg-color-a-hover)!important;
	text-align: center;
    
    color: #fff;
}

.sidebar-search-group > .sidebar-search-input:focus{
	border-bottom: none !important;
	outline-color: none!important;
	box-shadow: none!important;
	background: rgba(0,0,0,.3)!important;
	
}


.sidebar-search-group > .sidebar-search-collapse{
	left: 0;
    right: 0;

	margin-top: 0px;
    margin-left: auto;
    margin-right: auto;
    background: var(--main-color);
    
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0 0 20px 20px;
    text-decoration: none;
    font-size: 17px;
    height: 21px;
    width: 31px;
    color: #fff!important;
    line-height: 20px;
    text-align: center;
    -webkit-transition: all .2s cubic-bezier(.34,1.25,.6,1);
    transition: all .2s cubic-bezier(.34,1.25,.6,1);
    -webkit-box-shadow: 0 0 2px rgba(136,106,181,.3);
    box-shadow: 0 0 2px rgba(136,106,181,.3);
    opacity: 1;
    padding: 0px!important;
    cursor: pointer!important;
}

.sidebar-search-group > .sidebar-search-collapse:hover{
    background-image: var(--sidebar-bg-color-a-hover)!important;
    
    border: 1px solid rgba(0,0,0,.1);
    border-radius: 0 0 20px 20px!important;
    text-decoration: none;
    font-size: 17px;
    height: 21px;
    width: 31px;
    color: #fff!important;
    line-height: 20px;
    text-align: center;
    -webkit-transition: all .2s cubic-bezier(.34,1.25,.6,1);
    transition: all .2s cubic-bezier(.34,1.25,.6,1);
    -webkit-box-shadow: 0 0 2px rgba(136,106,181,.3);
    box-shadow: 0 0 2px rgba(136,106,181,.3);
    opacity: 1;
    padding: 0px!important;
    cursor: pointer!important;
}