@import url("reswara-root.css");
@import url("reswara-preloader.css");
@import url("bootstrap-grid.css");

body{
	background-color: var(--main-color);
}

.container-login{
	background-color: var(--main-color-hover);
	display: flex;
	
}

.login-form{
	width: 400px;
	height: 100%;
	box-shadow: 1px 2px 15px rgba(0,0,0,1);
	background-image: var(--sidebar-bg-color-a);
	padding-right: 20px;
	padding-left: 20px;
	padding-bottom: 30px;
	padding-top: 20px;
	display: inline-block;
	position: fixed;
	overflow-y: auto;
	z-index: 1;
}

.login-form > .header{
	width: 100%;
	padding: 20px;
	vertical-align: middle;
	font-size: 30px;
	font-family: SquadaOne-Regular;
	line-height: 0.8;
	text-align: center;
	color: #e645a2;
	text-shadow: 1px 1px 2px rgba(0,0,0,1);
	padding-bottom: 50px;
}

.login-form > .content{

	padding-left: 30px;
	padding-right: 30px;
	padding-top: 10px;
	padding-bottom: 10px;
	text-align: left;
	border-radius: 10px;
	/*border-left: 2px inset;*/
	border: 2px inset rgba(255, 255, 255, 0.1);
	background-image: var(--sidebar-bg-color-a-hover);
}

.content > .pre{
	/*font-family: SquadaOne-Regular;*/
	color: #fff;
	font-weight: 400;
	line-height: 2;
	margin-bottom: 20px;
	text-align: center;
}

.remember{
	font-size: 11px;
	color: #9e9e9e;
	display: block;
}

.remember div{
	padding-top: 5px;
	padding-right: 10px;
}

.remember > label > span{
	font-size: 11px !important;

}
.remember > label > input{
	width: 5px!important;
	height: 5px!important;
	margin-right: 5px!important;
	top: 0px;
	font-size: 11px;

	-ms-transform: scale(2); /* IE */
	-moz-transform: scale(2); /* FF */
	-webkit-transform: scale(2); /* Safari and Chrome */
	-o-transform: scale(2); /* Opera */
	transform: scale(2);
}

.login-form > .content > .input-field{
	width: 100%;
	padding-right: 20px;
	margin-top: 0px;
	color: #9e9e9e;
}

.input-field > input{
	font-size: 13px!important;
	color: #9e9e9e;
	height: 20px!important;
}
.input-field > label{
	font-size: 13px!important;
	color: #9e9e9e;
	top: -10px;
}

.input-field > input, input::-webkit-input-placeholder{
	font-size: 13px!important;
	color: #9e9e9e;
	height: 20px!important;
}

.input-field > input:focus + label{
	font-size: 11px;
	color: #9e9e9e!important;
}

.input-field > input:focus{
	font-size: 13px;
	color: #fff!important;
	border-bottom: 1px solid #9e9e9e!important;
 	box-shadow: 0 1px 0 0 #9e9e9e!important;
}

.header img{
	width: 60px;
	position: relative;
}

.content-footer{
	width: 100%;
	display: block;
	position: relative;
	margin-top: 20px;
	padding-bottom: 10px;
	padding-right: 20px;
	padding-left: 20px;
}

.footer{
	padding: 10px 30px 30px 30px;
	color: var(--main-color);
}

.footer hr{
	position: relative;
	width: 20px;
	display: inline-flex;
	margin: 0px 5px 5px 5px;
	color: var(--main-color);
	border-color: var(--main-color);
	text-shadow: none;
	box-shadow: none;
	border-style: none;
}



.btn-login{
	display: block !important;
	width: 100%;
	background-color: none;
	background-image: var(--sidebar-bg-color-a);
}

.btn-google, .btn-google:hover, .btn-google:focus{
	display: block !important;
	width: 100%;
	background-color: #e83535;
	margin-bottom: 10px;
	border-radius: 5px;
}

.btn-facebook, .btn-facebook:hover, .btn-facebook:focus{
	display: block !important;
	width: 100%;
	/*background-color: none;*/
	/*background-image: var(--sidebar-bg-color-a);*/
	background-color: #3939c1;
	border-radius: 5px;
}

input[type="checkbox"]:checked+span:not(.lever):before {
	color: #9e9e9e;
}

.background-right{
	position: absolute;
	left: 400px;
	height: 700px;
	z-index: 0;
	padding: 0px;
	color: white;
}
.background-right img{
	opacity: 0.3;
	width: 1000px;
	height: 100%;
	left: 400px;
	margin-bottom: 0px;
	position: fixed;
}

.right-inner{
	position: fixed;
	height: 200px;
	width: 20%;
	top: 30%;
	left: 50%;
	right: 50%;
	
	animation: rightinner 5s linear infinite;
}


.coffee-header {
  width: 100%;
  height: 80px;
  position: absolute;
  top: 0;
  left: 0;
  /*background-color: #ddcfcc;*/
  background-image: var(--sidebar-bg-color-a-hover);
  border-radius: 10px;
}
.coffee-header__buttons {
  width: 25px;
  height: 25px;
  position: absolute;
  top: 25px;
  background-color: #282323;
  border-radius: 50%;
}
.coffee-header__buttons::after {
  content: "";
  width: 8px;
  height: 8px;
  position: absolute;
  bottom: -8px;
  left: calc(50% - 4px);
  background-color: #615e5e;
}
.coffee-header__button-one {
  left: 15px;
}
.coffee-header__button-two {
  left: 50px;
}
.coffee-header__display {
  width: 50px;
  height: 50px;
  position: absolute;
  top: calc(50% - 25px);
  left: calc(50% - 25px);
  border-radius: 50%;
  background-color: var(--main-color);
  border: 5px solid #43beae;
  box-sizing: border-box;
}
.coffee-header__details {
  width: 8px;
  height: 20px;
  position: absolute;
  top: 10px;
  right: 10px;
  background-color: #9b9091;
  box-shadow: -12px 0 0 #9b9091, -24px 0 0 #9b9091;
}
.coffee-medium {
  width: 90%;
  height: 160px;
  position: absolute;
  top: 80px;
  left: calc(50% - 45%);
  background-color: #bcb0af;
}
.coffee-medium:before {
  content: "";
  width: 90%;
  height: 100px;
  background-color: #776f6e;
  position: absolute;
  bottom: 0;
  left: calc(50% - 45%);
  border-radius: 20px 20px 0 0;
}
.coffe-medium__exit {
  width: 60px;
  height: 20px;
  position: absolute;
  top: 0;
  left: calc(50% - 30px);
  background-color: #231f20;
}
.coffe-medium__exit::before {
  content: "";
  width: 50px;
  height: 20px;
  border-radius: 0 0 50% 50%;
  position: absolute;
  bottom: -20px;
  left: calc(50% - 25px);
  background-color: #231f20;
}
.coffe-medium__exit::after {
  content: "";
  width: 10px;
  height: 10px;
  position: absolute;
  bottom: -30px;
  left: calc(50% - 5px);
  background-color: #231f20;
}
.coffee-medium__arm {
  width: 70px;
  height: 20px;
  position: absolute;
  top: 15px;
  right: 25px;
  background-color: #231f20;
}
.coffee-medium__arm::before {
  content: "";
  width: 15px;
  height: 5px;
  position: absolute;
  top: 7px;
  left: -15px;
  background-color: #9e9495;
}
.coffee-medium__cup {
  width: 80px;
  height: 47px;
  position: absolute;
  bottom: 0;
  left: calc(50% - 40px);
  background-color: #FFF;
  border-radius: 0 0 70px 70px / 0 0 110px 110px;
}
.coffee-medium__cup::after {
  content: "";
  width: 20px;
  height: 20px;
  position: absolute;
  top: 6px;
  right: -13px;
  border: 5px solid #FFF;
  border-radius: 50%;
}
@keyframes liquid {
  0% {
    height: 0px;  
    opacity: 1;
  }
  5% {
    height: 0px;  
    opacity: 1;
  }
  20% {
    height: 62px;  
    opacity: 1;
  }
  95% {
    height: 62px;
    opacity: 1;
  }
  100% {
    height: 62px;
    opacity: 0;
  }
}
.coffee-medium__liquid {
  width: 6px;
  height: 63px;
  opacity: 0;
  position: absolute;
  top: 50px;
  left: calc(50% - 3px);
  background-color: #74372b;
  animation: liquid 4s 4s linear infinite;
}
.coffee-medium__smoke {
  width: 8px;
  height: 20px;
  position: absolute;  
  border-radius: 5px;
  background-color: #b3aeae;
}
@keyframes smokeOne {
  0% {
    bottom: 20px;
    opacity: 0;
  }
  40% {
    bottom: 50px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
@keyframes smokeTwo {
  0% {
    bottom: 40px;
    opacity: 0;
  }
  40% {
    bottom: 70px;
    opacity: .5;
  }
  80% {
    bottom: 80px;
    opacity: .3;
  }
  100% {
    bottom: 80px;
    opacity: 0;
  }
}
.coffee-medium__smoke-one {
  opacity: 0;
  bottom: 50px;
  left: 102px;
  animation: smokeOne 3s 4s linear infinite;
}
.coffee-medium__smoke-two {
  opacity: 0;
  bottom: 70px;
  left: 118px;
  animation: smokeTwo 3s 5s linear infinite;
}
.coffee-medium__smoke-three {
  opacity: 0;
  bottom: 65px;
  right: 118px;
  animation: smokeTwo 3s 6s linear infinite;
}
.coffee-medium__smoke-for {
  opacity: 0;
  bottom: 50px;
  right: 102px;
  animation: smokeOne 3s 5s linear infinite;
}
.coffee-footer {
  width: 95%;
  height: 15px;
  position: absolute;
  bottom: -57px;
  left: calc(50% - 47.5%);
  background-color: #41bdad;
  border-radius: 10px;
}
.coffee-footer::after {
  content: "";
  width: 106%;
  height: 26px;
  position: absolute;
  bottom: -25px;
  left: -8px;
  /*background-color: #000;*/
  background-image: var(--sidebar-bg-color-a-hover);
  border-radius: 10px;
}

@keyframes rightinner {
	0%{
		width: 25%;
	}
	50%{
		width: 30%;
	}
	100%{
		width: 25%;
	}
}

::-webkit-scrollbar {
  	width: 5px;
}
::-webkit-scrollbar-track {
  	background: transparent; 
}
 
/* Handle */
::-webkit-scrollbar-thumb {
  	background: #954cff;
  	border-radius: 2.5px;
}

/* Handle on hover */
::-webkit-scrollbar-thumb:hover {
  	background: #954cff;
  	border-radius: 2.5px;
}