.badge{
	vertical-align: top;
	overflow: hidden;
    vertical-align: middle;
    line-height: 1;
    box-shadow: 0px 0px 4px 1px rgba(0,0,0,0.1);
    padding: 0px;
    width: auto;
}
h1>.badge, h2>.badge, h3>.badge, h4>.badge, h5>.badge, h6>.badge{
	position: absolute;
	display: inline-block;
}

h1>.badge{
	margin-left: 15px;
	font-size: 35px;
	height: 50px;
	margin-bottom: 20px;
	padding: 10px 15px;
}

h2>.badge{
	margin-left: 15px;
	font-size: 30px;
	height: 45px;
	margin-bottom: 20px;
	padding: 7.25px 15px;
}

h3>.badge{
	margin-left: 15px;
	font-size: 25px;
	height: 37.5px;
	margin-bottom: 20px;
	padding: 4.3px 10px;
}

h4>.badge{
	margin-left: 15px;
	font-size: 20px;
	height: 32.5px;
	margin-bottom: 20px;
	padding: 3.75px 10px;
}

h5>.badge{
	margin-left: 10px;
	font-size: 15px;
	height: 20px;
	margin-bottom: 20px;
	padding-top: 0px !important;
	padding-bottom: 2.5px;
}

.badge.badge-primary{
	background-color: var(--main-color);
	color: #fff;
}
.badge.badge-warning{
	background-color: var(--warning-color);
	color: #fff;
}
.badge.badge-danger{
	background-color: var(--danger-color);
	color: #fff;
}
.badge.badge-info{
	background-color: var(--info-color);
	color: #fff;
}
.badge.badge-success{
	background-color: var(--success-color);
	color: #fff;
}

.btn > .badge{
	padding: 0px 5px!important;
	border-radius: 3px;
	min-width: 12px!important;
	/*min-height: 8px!important;*/
	height: auto!important;
	display: inline-flex;
	text-align: center;
	margin-left: 10px;
	vertical-align: middle;
	font-weight: 600;
	font-size: 75%;
	margin-right: 0px;
}